<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body bgcolor="black">
    <table width="100%" bgcolor="black" border="0" cellspacing="0" cellpadding="5">
        <tr height="60px">
            <td>
                &nbsp;<img src="../Uploads/logo.png" width="80px">
            </td>
            <td>
                <input type="text" placeholder="Search iMBD" size="100px">
            </td>
            <td>
                <font color="white" face="times new roman">Watchlist</font>
            </td>
            <td>
                <a href="sign-in.html">
                    <font color="white" face="times new roman">Sign In</font>
                </a>
            </td>
        </tr>
    </table><br><br><br>
    
        <table align="left" width="40%" bgcolor="black" border="0" cellspacing="0" cellpadding="10">
            <font  color="white" face="times new roman" size="25">&nbsp;About US</font><br><br><br>
            <hr align="left" color="F5C518" width="550px">
            <font  color="white" face="times new roman" size="20">&nbsp;About iMBD</font><br><br><br>
            <font color="white" face="times new roman" size="5">
                Our website aims to be the ultimate destination for movie enthusiasts, providing a seamless and efficient platform to explore, rate, review, and purchase movies. <br>With reviews from expert film critics, a vast collection of films, and a user-friendly interface, we strive to enhance your movie-watching experience. <br> Discover, decide, and indulge in the world of cinema on our website. 
            </font>
            <br><br><br>
            <hr align="left" color="F5C518" width="550px">
            <br><br>
            <font  color="white" face="times new roman" size="20">Our Developers</font><br><br>
            &nbsp;<img src="../Uploads/icons/default_pfp.jpg" width="100px"><br>
            <font  color="white" face="times new roman" size="5">&nbsp;Rianul Amin Rian <br>&nbsp; 21-44589-1</font><br><br>
            &nbsp;<img src="../Uploads/icons/default_pfp.jpg" width="100px"><br>
            <font  color="white" face="times new roman" size="5">&nbsp;Tanvir Hasan Tamal <br>&nbsp; 21-44626-1</font><br><br>
            &nbsp;<img src="../Uploads/icons/default_pfp.jpg" width="100px"><br>
            <font  color="white" face="times new roman" size="5">&nbsp;Borshon Alfred Gomes <br>&nbsp; 21-44589-1</font><br><br>
            &nbsp;<img src="../Uploads/icons/default_pfp.jpg" width="100px"><br>
            <font  color="white" face="times new roman" size="5">&nbsp;MD. Ferdous Sazid<br>&nbsp;  21-44455-1 </font><br><br>


        </table>
        
        <br><br><br>
 
    <br><br><br><br><br>
    <center>
        <font color="white" face="times new roman" size="3">iMBD</font><br><br>
        <font color="white" face="times new roman" size="2">A Maa Babar Dowa Company</font><br>
        <font color="white" face="times new roman" size="1">© 2023 by iMBD.com, Inc.</font><br><br>
    </center>
    
</body>
</html>