<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
</head>
<body bgcolor="black">
    <table width="100%" bgcolor="black" border="0" cellspacing="0" cellpadding="5">
        <tr height="60px">
            <td>
                &nbsp;<img src="../Images/logo.png" width="80px">
            </td>
            <td>
                <input type="text" placeholder="Search iMBD" size="100px">
            </td>
            
            <td>
                <a href="sign-in.html">
                    <font color="white" face="times new roman">Sign In</font>
                </a>
            </td>
        </tr>
    </table><br><br><br><br><br><br><br><br><br><br>
    <center>
        <font color="white" face="times new roman" size="20">Congratulations</font><br><br>
        <font color="white" face="times new roman" size="6">Your Account has been created</font>
    </center>
    <br><br><br><br><br><br><br><br><br><br><br>
    <center>
        <font color="white" face="times new roman" size="3">iMBD</font><br><br>
        <font color="white" face="times new roman" size="2">A Maa Babar Dowa Company</font><br>
        <font color="white" face="times new roman" size="1">© 2023 by iMBD.com, Inc.</font><br><br>
    </center>
    
</body>
</html>