<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMBD Discussion</title>
</head>
<body bgcolor="black">
    <table width="100%" bgcolor="black" border="0" cellspacing="0" cellpadding="5">
        <tr height="60px">
            <td>
                &nbsp;<a href="home.html"><img src="../Uploads/logo.png" width="80px"></a>
            </td>
            <td>
                <input type="text" placeholder="Search iMBD" size="100px">
            </td>
            <td>
                <font color="white" face="times new roman">Watchlist</font>
            </td>
            <td>
                <a href="sign-in.html">
                    <font color="white" face="times new roman">Sign In</font>
                </a>
            </td>
        </tr>
    </table><br><br><br>

    <table width="80%" bgcolor="black" border="1" cellspacing="0" cellpadding="25" align="center" bordercolor="F5C518">
        <tr>
            <td>
                <font color="F5C518" face="times new roman" size="6">Discussion : Is among us the greatest game ever created?</font>
                <br><br><br>
                <font color="white" face="times new roman" size="4">
                    Among Us is a 2018 online multiplayer social deduction game developed and published by American game studio Innersloth. The game was inspired by the party game Mafia and the science fiction horror film The Thing. The game allows for cross-platform play, released on iOS and Android devices in June 2018 and on Windows later that year in November. The game was ported to the Nintendo Switch in December 2020 and on the PlayStation 4, PlayStation 5, Xbox One and Xbox Series X/S in December 2021. A virtual reality adaptation, Among Us VR, was released on November 10, 2022.
                    Among Us takes place in space-themed settings where players are colorful, armless cartoon astronauts. Each player takes on one of two roles: most are Crewmates, but a small number are Impostors. Crewmates work to complete assigned tasks in the game while identifying and voting out suspected Impostors (which appear identical to Crewmates) using social deduction, while Impostors have the objective of killing the Crewmates.
                    While the game was initially released in 2018 to little mainstream attention, it received a massive influx of popularity in 2020 due to many Twitch streamers and YouTubers playing it and the COVID-19 pandemic. It received favorable reviews from critics on account of its fun and entertaining gameplay. The game and its stylized characters have been the subject of various internet memes.
                </font>
                <br><br><br>
                <font color="F5C518" face="times new roman" size="5">Tanvir : </font>
                <font color="white" face="times new roman" size="5">lol baler game.</font><br><br>
                <font color="F5C518" face="times new roman" size="5">Rian : </font>
                <font color="white" face="times new roman" size="5">ken kharap ki.</font><br><br>
                <font color="F5C518" face="times new roman" size="5">Borshon : </font>
                <font color="white" face="times new roman" size="5">shomudre 3 ta timi mas thake ahaha put.</font><br><br><br>
                <textarea name="comment" rows="15" cols="134"></textarea><br><br>
                <p align="right">
                    <a href=""><font color="white" face="times new roman" size="5">Post Comment</font></a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </td>
            <br>
        </tr>
    </table>

    <br><br><br>
    <center>
        <a href="about-us.html"><font color="white" face="times new roman" size="4">About Us</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="helpline.html"><font color="white" face="times new roman" size="4">Helpline</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="faq.html"><font color="white" face="times new roman" size="4">FAQ</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="terms-and-services.html"><font color="white" face="times new roman" size="4">Terms and Services</font></a><br><br><br>
        <font color="white" face="times new roman" size="3">iMBD</font><br><br>
        <font color="white" face="times new roman" size="2">A Maa Babar Dowa Company</font><br>
        <font color="white" face="times new roman" size="1">© 2023 by iMBD.com,  Inc.</font><br><br>
    </center>
</body>
</html>