<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body bgcolor="black">
    <table width="100%" bgcolor="black" border="0" cellspacing="0" cellpadding="5">
        <tr height="60px">
            <td>
                &nbsp;<img src="../Uploads/logo.png" width="80px">
            </td>
            <td>
                <input type="text" placeholder="Search iMBD" size="100px">
            </td>
            <td>
                <font color="white" face="times new roman">Watchlist</font>
            </td>
            <td>
                <a href="sign-in.html">
                    <font color="white" face="times new roman">Sign In</font>
                </a>
            </td>
        </tr>
    </table><br><br><br>
    
        <center>
            <table width="40%" bgcolor="black" border="0" cellspacing="0" cellpadding="10">
                <font  color="white" face="times new roman" size="25">&nbsp;FAQ</font><br><br>
                <hr color="F5C518" width="550px">
            </table>
        </center>
        <table align="left" width="40%" bgcolor="black" border="0" cellspacing="0" cellpadding="10">
            <font  color="white" face="times new roman" size="5"> 
            <ul>
                <li>How can I search for a specific movie or TV show? <br><br>
                    You can use the search bar located at the top of the website to search for a specific movie or TV show by its title, keywords, or the names of actors or directors associated with it.
                </li>
                <br>
                <li>How can I rate and review a movie or TV show?<br><br>
                    To rate and review a movie or TV show, you need to create an account on our website. Once logged in, you can navigate to the specific movie or TV show page and provide your rating and review in the designated section.
                </li>
                <br>
                <li>Can I contribute to the website's content? <br><br>
                    Currently, we do not offer user-generated content. However, our team of editors and contributors ensures that the database is regularly updated with the latest movies, TV shows, and relevant information.
                </li>
                <br>
                <li>Is there a feature to track the progress of TV shows or mark episodes as watched?<br><br> 
                    Yes, you can track the progress of TV shows and mark episodes as watched on our website. By creating an account and logging in, you can indicate which episodes you've already watched and keep track of your progress. This feature helps you stay organized and remember where you left off.
                </li>
                <br>
                <li>Is there a mobile app available for this website? <br><br>
                    At the moment, we do not have a dedicated mobile app. However, our website is designed to be responsive and user-friendly on various devices, including smartphones and tablets, so you can access it conveniently on the go.
                </li>
            </ul></font> 
        </table>
        
        
        <br><br><br>
 
    <br><br><br><br><br>
    <center>
        <font color="white" face="times new roman" size="3">iMBD</font><br><br>
        <font color="white" face="times new roman" size="2">A Maa Babar Dowa Company</font><br>
        <font color="white" face="times new roman" size="1">© 2023 by iMBD.com, Inc.</font><br><br>
    </center>
    
</body>
</html>